<div class="container">
<div class="margin">
  <div class="card">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col">
            <img src="../../assets/img/port.png"style="height:600px">
          </div>
          <div class="col">
            <h1>HELLO !</h1>
            <h2>MY NAME IS JIRAPHUN JITRUKROB</h2>
            <h3>===============================</h3>
            <div class="row">
              <div class="col">
                <p style="color: #40a9ff ;font-weight: 900">I'AM
                  UNIVERSITY STUDENT AT BURAPHA UNIVERSITY <br>AND
                  I'AM STUDING COMPUTERSCIENCE </p>
                <p style="color:#8c8c8c ;font-weight:900">I'AM CREATIVE
                  WEB DEVELOPER </p>
              </div>
              <div class="col-1">
                <p>FACUL<br>TY</p>
              </div>
              <div class="col-5">
                <img src="../../assets/img/imformatics.png" class="img-thumbnail" width="150px">
              </div>
              <div class="col">
                <h3>===============================</h3>
                <h2>THANK YOU SO MUCH</h2>
                <p style="color:#e8e8e8 ;font-weight:900">FOR VISTING
                  MY SITE</p>
                <h3>===============================</h3>
              </div>
              <div class="col-4">
                <p style="color:#e8e8e8 ;font-weight:900">CONTACT WITH
                  ME</p>
              </div>
              <div class="col-2">
                <img (click)="openModal(template)" src="../../assets/img/1024px-LINE_logo.svg.png" width="50px">

                <ng-template #template>
                  <div class="modal-header">
                    <h4 class="modal-title pull-left ">Line QRCode</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="../../assets/img/11339.jpg">
                  </div>
                </ng-template>
              </div>
              <div class="col-2">
                 <a href="https://www.facebook.com/bank.larm" target="_blank"> <img src="../../assets/img/facebook.png" width="50px"></a>
              </div>
              <div class="col-2">
                  <a href="https://github.com/Bankbetch" target="_blank"> <img src="../../assets/img/github.png" width="50px"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>